!!!
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }
      %title Bootstrap, from Twitter
      %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport"}
      %meta{ content: "", name: "description"}
      %meta{ content: "", name: "author"}
      = stylesheet_link_tag "application"
      /[if lt IE 9]
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          = link_to "Demo Home", root_path, class: 'brand'
          .nav-collapse
            %ul.nav
              %li
                = link_to "Home", root_path
              %li
                = link_to "About", about_path
            %div.navbar-text.pull-right
              - if user_signed_in?
                %p.navbar-text.pull-right
                  Logged in as
                  = link_to current_user.email, edit_user_registration_path
                  |
                  = link_to "logout", destroy_user_session_path, method: :delete
              - else
                %ul.nav
                  %li
                    = link_to "Sign In", new_user_session_path
                  %li
                    = link_to "Sign Up", new_user_registration_path
    .container
      %div{class: 'flashes group'}
        - flash.each do |name, msg|
          %div{ class: "alert alert-#{name == :notice ? "success" : "error"}"}
            %a{ class: 'close', :'data-dismiss' => "alert" }
            = msg

      = yield
      %hr
        %footer
          %p © Company 2012
    
    = javascript_include_tag "application"